
p {
    text-align: center;
    color: red;
    font-family: 'Slabo 12px', serif;
    background-color:black;
    font-color:white;
} 
body {
	background-image:url(images/building_background.jpg);
	background-size: cover;
	background-position: top center;
}

h1 {
	text-align: center;
	font-size: 16px;
	font-style: all;
	font-family: 'slabo', serif;
	color: rgb(20,3,40);
}

ul {
	color: rgb(198, 99, 165);
	text-align:center;
	font-style: italic;
	font-weight: bold;
}





